.team {
  background-color: $third-background-color;
  padding: 94px 0;

  &__title {
    @extend %title;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 270px;
    background: $white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team-member {
  padding: 30px 0px;

  &__name {
    color: $primary-title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
  }

  &__function {
    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    display: block;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto 0;

  &__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    fill: $icons-color;
    @extend %social-link;
    transition: background-color $transition-duration $timing-function,
      fill $transition-duration $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $primary-background-color;
    }
  }
}
