.project {
  display: flex;
  flex-wrap: wrap;

  &__describing {
    padding: 20px 24px;
    border: 1px solid $secondary-border-color;
    border-top: none;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &__name {
    color: $primary-title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  &__type {
    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    padding: 63px 24px;
    width: 100%;
    height: 294px;
    background-color: $second-overlay-color;

    transform: translateY(100%);
    opacity: 0;
    transition: transform $transition-duration $timing-function,
      opacity $transition-duration $timing-function;
  }
  &__info {
    color: $white-color;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }

&__card {
  position: relative;

  display: block;
  width: 370px;
  background: $white-color;
  text-decoration: none;
  overflow: hidden;

  transition: box-shadow $transition-duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project__overlay,
  &:focus .project__overlay {
    transform: translateY(0);
    opacity: 1;
  }
}
}
